<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__.'/app',
        __DIR__.'/tests'
    ]);

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => [
            'syntax' => 'short'
        ],
        'date_time_immutable' => true,
        'declare_strict_types' => true,
        'fopen_flags' => [
            'b_mode' => true
        ],
        'fully_qualified_strict_types' => true,
        'mb_str_functions' => true,
        'native_function_invocation' => true,
        'no_closing_tag' => true,
        'no_trailing_whitespace' => true,
        'no_superfluous_phpdoc_tags' => false,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'protected_to_private' => false,
        'single_trait_insert_per_statement' => false,
        'strict_param' => true,
        'yoda_style' => [
            'always_move_variable' => false,
            'equal' => false,
            'identical' => false,
        ]
    ])
    ->setRiskyAllowed(true);